spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gotallinn
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  mvc:
    problemdetails:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
